<ion-view id="jobs">
    <ion-pane>
        <ion-content>
            <div class="card" ng-repeat="job in jobs">
                <div class="item item-divider">
                    {{ job.empresa[0] }}
                </div>
                <div class="item item-text-wrap">
                    {{ job.descricao[0] }}
                </div>
                <div class="item item-divider">
                    {{ job.localizacao[0] }}
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>
