<ion-view title="Estágios de TI" id="start">
    <ion-pane>
        <ion-content>
            <div class="top-menu">
                <h2>Está em busca de um estágio?</h2>
                <a href="#/jobs">
                    <button class="button button-positive button-center">Então toque aqui para iniciar!</button>
                </a>
            </div>
            <!--
                                  LITTLE MONSTER
                By: Raphael Porto (http://codepen.io/raphaelpor)
                Taken from: http://codepen.io/raphaelpor/pen/JoxopV
            -->
            <div class="monster">
                <div class="ear ear_right">
                    <div class="ear_up"></div>
                    <div class="ear_body"></div>
                </div>
                <div class="ear ear_left">
                    <div class="ear_up"></div>
                    <div class="ear_body"></div>
                </div>
                <div class="body">
                    <div class="eye">
                        <div class="iris"></div>
                    </div>

                    <div class="tooth">
                        <div class="teeth"></div>
                        <div class="teeth"></div>
                    </div>

                    <div class="mouth"></div>
                </div>
                <div class="shadow"></div>
            </div>
            <!-- END OF LITTLE MONSTER -->
            <button class="button button-clear button-block" ng-click="openUrl('https://github.com/andrelramos/estagios-ti-ionic-app')">
                Contribua
                <span class="ion-social-github"/>
            </button>
        </ion-content>
    </ion-pane>
</ion-view>
